<script src="{{ asset('js/admin/ckeditor/ckeditor.js') }}"></script>
<script>
    $(document).ready(function() {
        CKEDITOR.replace('content', {
            height: 400,
            toolbar: 'Basic',
            youtube_responsive: true,
            allowedContent: 'iframe[*]'
        });

        $('#btn-add-category').on('click', function() {
            $('#add-category').modal('show');
        });

        $('#form-new-category').on('submit', function(event) {
            event.preventDefault();

            var data = {
                name: $(this).find('input[name="category_name"]').val(),
                status: $(this).find('input[name="category_status"]').is(':checked') ? 1 : 0,
                token: '{{ csrf_token('add-category') }}',
            };

            $.ajax({
                url: '{{ path('admin_store_article_category') }}',
                type: 'post',
                dataType: 'json',
                data: data
            }).done(function(resp) {
                console.log(resp);
                if (resp.success == 1) {
                    clear_modal('#add-category');
                    add_category_select(resp.category_id, resp.category_name);
                } else {
                    show_error(resp, '#add-category-error');
                }
            });
        });
    });

    function clear_modal(element) {
        console.log('clear modal');
        $(element).find('form').trigger('reset');
        $(element).modal('hide');
    }

    function show_error(message, element) {
        console.log('show error');
        $(element).html(message).show();
    }

    function add_category_select(category_id, category_name) {
        var category_select = $('#form-add-article').find('select[name="category_id"]');
        category_select.append('<option value="' + category_id + '" selected>' + category_name + '</option>');
    }
</script>
