{% extends 'admin/layout/base.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">AJOUTER UN NOUVEL ARTICLE</h4>
        </div>
        <div class="card-body p-lg-4">
            <form action="{{ path('admin_store_article') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label">{% trans %}Category{% endtrans %} <star class="star">*</star></label>
                    <div class="col-sm-10">
                        <select class="custom-select form-control" name="group_id" required="">
                            <option value="">-- {% trans %}Category{% endtrans %} --</option>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>    
                            {% endfor %}
                        </select>
                        <span class="error" for="#sl_article_group" style="display: none;">Veuillez sélectionner un groupe pour cet article!</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label">{% trans %}Title{% endtrans %} <star class="star">*</star></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" maxlength="100" name="title" id="title" value="" required="">
                        <!--<small class="form-text text-muted">small text muted</small>-->
                        <span class="error" for="#title" style="display: none;">S'il vous plaît insérez le titre pour cet article!</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label">{% trans %}Description{% endtrans %} </label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="description" id="description" style=""></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label">{% trans %}Content{% endtrans %} </label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="content" id="content" style=""></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group mb-4">
                <div class="row">
                    <label class="col-sm-2 control-label">{% trans %}Image{% endtrans %}</label>
                    <div class="col-sm-10">
                        <div class="input-group form-control-file">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{% trans %}Upload{% endtrans %}</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" accept="image/*" name="image">
                                <label class="custom-file-label" for="inputGroupFile01">{% trans %}Select an image{% endtrans %}</label>
                            </div>
                        </div>
                        <span class="error" id="error-file-type" style="display: none;">Sélectionnez votre image.</span>
                        <div style="max-width: 150px; margin-top: 20px;" class="text-center">
                            <img src="" id="img-preview" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label">{% trans %}Status{% endtrans %}</label>
                    <div class="col-sm-10">
                        <input type="checkbox" name="status" value="1">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-icon"> <i class="fa fa-floppy-o" aria-hidden="true"></i> </button>
                    </div>
                </div>
            </div>
            
            </form>
        </div>
        <!-- card-body -->
    </div>
    <!-- /.card -->
</div>
{% endblock %}
