/* * Basic Structure
 * ----------------------------------------------- */
/* -----------------------------------------------
  	#General Variables SCSS
   ----------------------------------------------- */
/*Text colors*/
/* Backgrounds*/
/* Border colors*/
/* FONTS */
/*======= #mixin ======= */
button {
  outline: 0;
  border: 0; }

.trans {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

/*======= #BASIC ======= */
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.45em; }

a {
  color: #3c3c3c; }
  a:hover {
    text-decoration: none; }

p {
  margin-bottom: 10px; }

img {
  max-width: 100%; }

input[readonly]:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.custom-checkbox-radio input[disabled] + label:before,
.custom-checkbox-radio input[disabled] + label:after {
  opacity: .65; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  font-size: 13px; }

.input-themes[readonly] {
  font-style: italic; }

/* ICONS http://www.cssportal.com/css-sprite-generator/# */
/*----------------------- HELP-ER ----------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.column-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.text-danger {
  color: #d50000; }

.error-message {
  font-size: .9em;
  color: #d50000;
  margin-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 5px; }

.wfull {
  width: 100%; }

.btn-primary {
  background-color: #f0c261;
  border-color: #f0c261; }
  .btn-primary:hover {
    background-color: #d29922;
    border-color: #d29922;
    color: #fff; }

button {
  background-color: #30333e;
  color: #fff; }
  button:hover {
    background-color: #bebebe; }

.alert {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 15px; }
  .alert .icon {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 25px; }

.has-error .control-label {
  color: #333333; }

.has-error .form-control,
.has-error .sol-inner-container,
.has-error .chosen-container-single .chosen-single {
  border-color: #d50000; }

/*----------------------- HEADER ----------------------- */
.txtcms {
  font-size: 18px;
  color: #f0c261;
  display: inline-block;
  border: 1px solid #f0c261;
  margin: 0;
  padding: 8px 10px;
  text-transform: uppercase; }

.header-cms.h_login {
  text-align: center;
  padding: 30px 0;
  margin-bottom: 10px; }

.header-cms .img-logo {
  margin: 15px auto; }

.header-cms a:hover {
  color: #f0c261; }

.head-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .head-right .iconify {
    display: inline-block;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    vertical-align: top;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    position: relative;
    position: relative;
    line-height: 44px; }
    .head-right .iconify .sprite {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
    .head-right .iconify.noti-user {
      border-color: rgba(199, 199, 199, 0.2); }
    .head-right .iconify .noti {
      display: inline-block;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      border-right: 1px solid #e2e1e9; }
      .head-right .iconify .noti:hover {
        background: #f3f3f3; }
    .head-right .iconify .label {
      z-index: 1;
      background-color: #e76831;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      right: 17px;
      top: 17px;
      line-height: 24px;
      min-width: 24px;
      display: inline-block;
      padding: 0;
      font-size: .75em;
      font-weight: 300; }
      .head-right .iconify .label:hover {
        color: #fff;
        background: #f0c261; }
    .head-right .iconify:first-child .noti {
      border-left: 1px solid #e2e1e9; }

.login-content .form-group {
  position: relative; }
  .login-content .form-group .form-control {
    padding-left: 40px; }
  .login-content .form-group .icon {
    position: absolute;
    top: 10px;
    left: 8px;
    right: auto;
    width: 40px;
    font-size: 20px;
    color: #757575; }

/*----------------------- LOGIN CMS ----------------------- */
.login-content {
  background: #53411d;
  padding: 60px 0 60px 0; }
  .login-content .form-group {
    margin-bottom: 20px; }
  .login-content .alert {
    padding-left: 75px; }

.block-form-center {
  width: 550px;
  max-width: 100%;
  margin: 0 auto; }
  .block-form-center .form-sms {
    padding: 40px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 9px rgba(65, 65, 65, 0.4);
    -moz-box-shadow: 0 6px 9px rgba(65, 65, 65, 0.4);
    box-shadow: 0 6px 9px rgba(65, 65, 65, 0.4); }
  .block-form-center .wp_f_login {
    margin-top: 5px; }

.label_read label {
  color: #f0c261;
  font-weight: normal;
  font-size: .9em;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden; }

.label_read input {
  display: none; }

.label_read label:before {
  content: ' ';
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #f0c261;
  position: absolute;
  left: 0;
  top: 3px;
  border-radius: 2px;
  text-align: center;
  line-height: 28px;
  color: #f0c261; }

.label_read label:after {
  font: normal normal normal 10px/1 FontAwesome;
  content: "\f00c";
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 5px;
  text-align: center;
  -webkit-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  transform: scale(2, 2);
  opacity: 0;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }

.label_read input:checked + label:after {
  color: #f0c261;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1; }

/*# sourceMappingURL=style-login.css.map */